<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <!-- 資料庫連線字串 -->
    <connectionStrings>
        <!-- RepairRecordsTransfer 用 -->
        <add name="SourceDatabase" 
             connectionString="Data Source=192.168.4.93:1521/AMES;User Id=JHAMES;Password=AMES666;" 
             providerName="Oracle.ManagedDataAccess.Client" />
        <add name="DestinationDatabase" 
             connectionString="Server=192.168.5.25;Database=i_Factory_SOP_DB;User Id=SuperSOP;Password=A12345678;MultipleActiveResultSets=True;" 
             providerName="System.Data.SqlClient" />
        
        <!-- ActualTimeCalc 用 -->
        <add name="JHDB" 
             connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.4.93)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=JHAMES;Password=AMES666;" 
             providerName="Oracle.ManagedDataAccess.Client" />
        <add name="EVERSUN_AMESDB" 
             connectionString="Server=192.168.4.200;Database=AMES_DB;User ID=fa;Password=fa;Encrypt=False;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <!-- 應用程式設定 -->
    <appSettings>
        <!-- 共用設定 -->
        <add key="LogPath" value="Logs" />
        <add key="BatchSize" value="1000" />
        
        <!-- ActualTimeCalc 設定 -->
        <add key="ActualTime_Schema_JHDB" value="JHAMES" />
        <add key="ActualTime_Schema_JHDB_SYS" value="JHSYS" />
        <add key="ActualTime_CalcDate" value="" />
        <add key="ActualTime_TxtOutputPath" value="Output" />
    </appSettings>
</configuration>